<div id="<%= dom_id planner_booking %>">
  <p>
    <strong>Start time:</strong>
    <%= planner_booking.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= planner_booking.end_time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= planner_booking.user_id %>
  </p>

  <p>
    <strong>Planner:</strong>
    <%= planner_booking.planner_id %>
  </p>

</div>
