<p style="color: green"><%= notice %></p>

<%= render @planner_booking %>

<div>
  <%= link_to "Edit this planner booking", edit_planner_booking_path(@planner_booking) %> |
  <%= link_to "Back to planner bookings", planner_bookings_path %>

  <%= button_to "Destroy this planner booking", @planner_booking, method: :delete %>
</div>
