<div class="container px-0" id="<%= dom_id planner %>">

  <legend class="style-legend">
      <a href="javascript:history.back()"><span class="greyed-out">planners</span></a>
      <span class="greyed-in">> </span></a>
      <span class="greyed-in"><%= planner.name %></span></a>
      <span class="greyed-inactive">> Payment</span>

      <p>
        <%= planner.short_description %>
      </p>
    </legend>

  <p>
    <strong>Name:</strong>
    <%= planner.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= planner.rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= planner.description %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= planner.short_description %>
  </p>

  <p>
    <strong>Price range:</strong>
    <%= planner.price_range %>
  </p>

  <p>
    <strong>User:</strong>
    <%= planner.user_id %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= planner.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= planner.longitude %>
  </p>

</div>
